@{
    ViewData["Title"] = "Create";
}

<div class="container-fluid">
    <div class="row"> 
        <div class="col-md-8">
            <div class="card card-primary">
                <div class="="card-header>
                    <div><h3 class="card-title">
                        Ürün Bilgileri
                    </h3>
                    </div>
                    <form action=""></form>

                </div>
            </div>

        </div>
        <div class="col-md-4">

        </div>


    </div>
</div>